{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>portfolio</title>
  <link rel="stylesheet" href="{% static 'nk.css'%}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!-- navgaition menu -->
  <nav>
    <div class="navbar">
      <img data-aos="fade-up" data-aos-duration="3000" src="{%static './images/Dumka1.jpg'%}" alt="">
      <div class="logo">Dumka Nkue.</div>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#Features">Features</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#resume">resume</a></li>
        <li><a href="#pricing">pricing</a></li>
        <li><a href="#contact">contact</a></li>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </ul>
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>

  </nav>
  <!-- Home Section Start -->
  <section class="home" id="home">
    <div class="text2">WELCOME TO MY WORLD</div>

    <div class="text3">Hi i'm <span>Dumka Nkue <br> Full Stack Developer</span></div>
    <button class="button">Hire Me</button>

    </div>

    <div class='console-container'>
      <span id='text'></span>
      <div class='console-underscore' id='console'>&#95;</div>


    </div>
    <script>
      // function([string1, string2],target id,[color1,color2])    
      consoleText(['a front-end Developer.', 'a Back-end Developer.', 'a Data Analyst.', 'a Django Developer.'], 'text', ['tomato', 'rebeccapurple', 'lightblue']);

      function consoleText(words, id, colors) {
        if (colors === undefined) colors = ['#fff'];
        var visible = true;
        var con = document.getElementById('console');
        var letterCount = 1;
        var x = 1;
        var waiting = false;
        var target = document.getElementById(id)
        target.setAttribute('style', 'color:' + colors[0])
        window.setInterval(function () {

          if (letterCount === 0 && waiting === false) {
            waiting = true;
            target.innerHTML = words[0].substring(0, letterCount)
            window.setTimeout(function () {
              var usedColor = colors.shift();
              colors.push(usedColor);
              var usedWord = words.shift();
              words.push(usedWord);
              x = 1;
              target.setAttribute('style', 'color:' + colors[0])
              letterCount += x;
              waiting = false;
            }, 1000)
          } else if (letterCount === words[0].length + 1 && waiting === false) {
            waiting = true;
            window.setTimeout(function () {
              x = -1;
              letterCount += x;
              waiting = false;
            }, 1000)
          } else if (waiting === false) {
            target.innerHTML = words[0].substring(0, letterCount)
            letterCount += x;
          }
        }, 120)
        window.setInterval(function () {
          if (visible === true) {
            con.className = 'console-underscore hidden'
            visible = false;

          } else {
            con.className = 'console-underscore'

            visible = true;
          }
        }, 400)
      }
    </script>

    <div class="text5">I am an experienced Front-End Developer. A Back-end Developer with three years
      plus experience building and designing websites and web apps from scratch. i build website using Html,
      CSS, Javascript,Next.js and React. HTML and CSS are the field of my expertise when it comes to building websites and
      web apps using front-end. Django, python and Database are my expertise using Back-end.
      I deal with servers as well. i am a Data Analyst using Excel, MySQL, Tableau, Power Bi and Python.
    </div>

    <div class="con-image">
      <img data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
        src="{%static './images/dumka.jpg'%}" alt="">
    </div>
    </div>
    </div>
  </section>


  <!-- features Section Start -->
  <section class="Features" id="Features">
    <div class="feature-content">
      <div class="feature1">FEATURES
        <div class="feature">WHAT I DO</div>
      </div>
      <div class="feature-con">
        <div class="box2-frontend">
          <img src="{%static './images/web.png'%}" alt="">
          <div class="frontend">Front-end Developer</div>
          I optimize the user experience using HTML, Next.js React, Javascript and CSS to bring concept to
          life. I develop and maintain user interface by following SEO best practices
        </div>

        <div class="box3-djangle">
          <img src="{%static './images/web.png'%}" alt="">
          <div class="DJ-developer">Django Developer</div>
          l'm a Django Developer expert. I use Django to create registration form and login form for the user.
          This enable companies to get users details and communicate users for their businesses.
        </div>


        <div class="box5-backend">
          <img src="{%static './images/backend.png'%}" alt="">
          <div class="back-end">Back-end Developer</div> I optimize the user experience using Database and
          Django to bring concept to life.
        </div>

      </div>
      <div class="analysis-con">
        <div class="box4-analysis">
          <img src="{%static './images/analysis.png'%}" alt="">
          <div class="analysis"> Data Analytic</div>
          i'm expertise for extracting and turning dataset to meaningful insight. I manipulate data,
          conduct complex  analyses and generate insights to drive business decision. I create data visualization with
          Tableau,power bi
          and python to tell a story with data. I think critically and analyst data by identifying pattern,
          trend and extracting actionable insights and information from the information you have at hand.
        </div>
      </div>
    </div>

  </section>

  <!-- My portfolio Section Start -->

  <section class="portfolio" id="portfolio">
    <div class="port">
      <h2>VISIT MY PORTFOLIO AND KEEP YOUR FEEDBACK</h2>
      <h1> PORTFOLIO</h1>
    </div>
    <div class="portfolio-con">
      <div class="box6-image">
        <img src="{%static '.\images\API2.jpg'%}" alt="">
      </div>
      <div class="djangle1">
        <div class="djangle1-text"> DJANGO BACK-END </div>
        l'm a Django Developer expert. I use Django to create registration form and login form for the user.
        This enable companies to get and communicate users for their businesses.
      </div>

      <div class="box7-image">
        <img src="{%static '.\images\framework_django.png'%}" alt="">
      </div>
      <!-- DATA ANALYSIS VISUALIZATION -->

    </div>
    <div class="analysis-text"> DATA ANALYTIC VISUALIZATION</div>
    <div class="analysis2-con">
      <div class="powerbi-image">
        <img src="{%static '.\images\powerbi.jpg'%}" alt="">
      </div>
      <div class="powerbi">
        <div class="powerbi-text"> POWER BI VISUALIZATION </div>

      </div>
      <div class="tableau-image">

        <img src="{%static '.\images\TABLEAU ANALYSIS.png'%}" alt="">
      </div>
      <div class="tableau">
        <div class="tableau-text"> TABLEAU VISUALIZATION </div>
      </div>
    </div>

  </section>


  <!-- resume section -->
  <!-- full stack SECTION OF RESUME -->

  <section class="Resume" id="Resume">

    <div id="resume" class="page-content">
      <div class="my-experience">3+ Years of Experience<br>in Full Stack</div>
      <div class="myresume">my resume</div>
      <div class="con-experience">
        <div class="box-experience2">
          <h1> Front-end Job Experience</h1>
          State primary school Obeakpu
          Oyigbo, Rivers State. (2016-2018)<br>
          My responsibility was to teach students how to solve problems using computer system.
          I taught students how to design web using front-end.<br>
          My key responsibility was to optimize the user experience using HTML,
          React, Next.js, Javascript and CSS to bring concept to life.
          I   develop and maintain user interface by following SEO best practices.
        </div>
        <div class="box-experience3">
          <h1>Back-end Job Experience</h1>
          Community secondary school Umuakpahu
          Oyigbo, Rivers State. (2018-2020)<br>
          My responsibility was to teach students how to solve problems using computer system.
          I taught students how to design web using back-end.
          My key responsibility was to optimize the user experience using Database and Django
          to bring concept to life.
          I develop and maintain user interface by following SEO best practices.
        </div>
      </div>
      <div class="container-bar1">
        <div class="front-skill">BACK-END AND FRONT-END SKILLS</div>
        <div class="container-bar">
          <h1>full stack professional skills</h1>
          <div class="bar learning" data-skill="CSS">98%</div>
          <div class="bar back basic" data-skill="Python">75%</div>
          <div class="bar back intermediate" data-skill="HTML">95%</div>
          <div class="bar front advanced" data-skill="React">80%</div>
          <div class="bar front expert" data-skill="Djangle">85%</div>
          <div class="bar front expert2" data-skill="Database">80%</div>
        </div>
      </div>

      <!-- DATA ANALYSIS SECTION OF RESUME -->
      <div class="resume-heading">DATA ANALYSIS SECTION OF MY RESUME <br>5+ Years of Experience</div>
      <div class="resume" id="resume">
        <section id="resume">
          <div class="resume-con">
            <button class="tablinks" onclick="openTab(event, 'education')">My Education Quality. <br>click on
              me</button>
            <button class="tablinks" onclick="openTab(event, 'professional-skills')">Data Analytic Professional
              skills. <br>click on me</button>
            <button class="tablinks" onclick="openTab(event, 'experience')">Data Analysis Job Experience.<br>click on
              me</button>
          </div>
      </div>
      <div id="education" class="tabcontent">
        <!-- Experience content here -->
        <h3>Education</h3>
        <p>Master Degree in Computer Science</p>
        <p>River state university (2020-2022)</p>
        <p>Computer Professionals Registration Council of Nigeria</p>
        <p>Area of Specialization(Computer Information System) </p>
      </div>
    </div>
    <div id="experience" class="tabcontent">
      <div class="box-experience">
        <h3>Data Analysis Job Experience</h3>
        <p>Intels Nigeria limited, Onne Head Office<br>(January-December, 2011) <br></p>
        Position: Office Assistant <br>
        JOB DESCRIPTION: <br>
        (1) Receipt and distribution of Vendor invoices and maintaining their respective log.<br>
        (2)Preparation of document transmittals for the internal and external distribution.<br>
        (3)Analyzing Company documents using Data Analytics tools.
        (4)	Visualizing data after analysis.
        (5)	I design, implement and manage databases to store and retrieve website data.

      </div>
    </div>
    </div>
    <div id="professional-skills" class="tabcontent">

      <div class="my-profession">DATA ANALYSIS PROFESSIONAL SKILLS</div>

      <div class="skills">
        <div class="skill">
          <div class="outer">
            <div class="inner">
              <div class="number" data-target="90">0%</div>
            </div>
          </div>
          <p>EXCEL</p>
        </div>

        <div class="skill">
          <div class="outer">
            <div class="inner">
              <div class="number" data-target="90">0%</div>
            </div>
          </div>
          <p>SQL</p>
        </div>
        <div class="skill">
          <div class="outer">
            <div class="inner">
              <div class="number" data-target="90">0%</div>
            </div>
          </div>
          <p>TABLEAU</p>
        </div>
        <div class="skill">
          <div class="outer">
            <div class="inner">
              <div class="number" data-target="90">0%</div>
            </div>
          </div>
          <p>POWER BI</p>
        </div>
        <div class="skill">
          <div class="outer">
            <div class="inner">
              <div class="number" data-target="90">0%</div>
            </div>
          </div>
          <p>PYTHON</p>
        </div>
      </div>



      <script>
        // javascript for open tap function
        function openTab(event, tabName) {
          // Get all elements with class="tabcontent" and hide them
          var tabcontents = document.getElementsByClassName("tabcontent");
          for (var i = 0; i < tabcontents.length; i++) {
            tabcontents[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          var tablinks = document.getElementsByClassName("tablinks");
          for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(tabName).style.display = "block";
          event.currentTarget.className += " active";
        }
      </script>

  </section>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const counters = document.querySelectorAll('.number');
      counters.forEach(counter => {
        const updateCount = () => {
          const target = +counter.getAttribute('data-target');
          const count = +counter.innerText.replace('%', '');
          const increment = target / 100;

          if (count < target) {
            counter.innerText = `${Math.ceil(count + increment)}%`;
            setTimeout(updateCount, 20);
          } else {
            counter.innerText = `${target}%`;
          }
        };

        updateCount();
      });
    });
  </script>

  </section>

  <!-- price Me section Start -->
  <section class="pricing" id="pricing">
    <div class="price">My Pricing</div>
    <div class="button-container">
      <button class="tablinksprice" onclick="openTab(event, 'static')">static click me</button>
      <button class="tablinksprice" onclick="openTab(event, 'standard')">Standard click me</button>
      <button class="tablinksprice" onclick="openTab(event, 'premium')">Premium click me</button>
    </div>

    <div id="static" class="tabcontentprice">
      <div class="pricestatic">Make Your Single Page</div>
      <button class="amount">$100</button>
      <div class="order-now">ORDER NOW </div>
      <div class="deliver-now">Fast Delivery </div>
      <div class="elementor">Elementor</div>
      <div class="text-static1">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
        necessary.</div>
      <div class="flex-price">
        <div class="flex1">
          <div class="text-static2">1 Page with Elementor </div>
          <div class="text-static3">Design Customization</div>
          <div class="text-static4">Responsive Design</div>
          <div class="text-static5">Content Upload</div>
          <div class="text-static6">Design Customization</div>
          <div class="text-static7">2 Plugins/Extensions</div>
        </div>
        <div class="flex2">
          <div class="text-flex1">multipage Elementor</div>
          <div class="text-flex2">Maintaine Design</div>
          <div class="text-flex3">Content Upload</div>
          <div class="text-flex4">Design With XD</div>
          <div class="text-flex5">8 Plugins/Extensions</div>

        </div>

      </div>
    </div>

    </div>
    </div>


    <div id="standard" class="tabcontentprice">
      <div class="pricestatic">Design Make this Page</div>
      <button class="amount">$200</button>
      <div class="order-now">ORDER NOW </div>
      <div class="deliver-now">Fast Delivery </div>
      <div class="elementor">Elementor</div>
      <div class="text-static1">Making this the first true generator on the Internet. It uses a dictionary & plugin
        Development. </div>

      <div class="flex-price">
        <div class="flex">
          <div class="text-static2">1 Page with Elementor </div>
          <div class="text-static3">Design Customization</div>
          <div class="text-static4">Responsive Design</div>
          <div class="text-static5">Content Upload</div>
          <div class="text-static6">Design Customization</div>
          <div class="text-static7">2 Plugins/Extensions</div>
        </div>
        <div class="flex2">
          <div class="text-flex1">multipage Elementor</div>
          <div class="text-flex2">Maintaine Design</div>
          <div class="text-flex3">Content Upload</div>
          <div class="text-flex4">Design With XD</div>
          <div class="text-flex5">8 Plugins/Extensions</div>
        </div>
      </div>
    </div>
    </div>

    </div>
    <div id="premium" class="tabcontentprice">
      <div class="pricestatic">Customize Your Single Page</div>
      <button class="amount">$300</button>
      <div class="order-now">ORDER NOW </div>
      <div class="deliver-now">Fast Delivery </div>
      <div class="elementor">Elementor</div>
      <div class="text-static1">I will install your desire theme and made like Theme demo and customize your single
        page( homepage)</div>
      <div class="flex-price">
        <div class="flex">
          <div class="text-static2">1 Page with Elementor </div>
          <div class="text-static3">Design Customization</div>
          <div class="text-static4">Responsive Design</div>
          <div class="text-static5">Content Upload</div>
          <div class="text-static6">Design Customization</div>
          <div class="text-static7">2 Plugins/Extensions</div>
        </div>
        <div class="flex2">
          <div class="text-flex1">multipage Elementor</div>
          <div class="text-flex2">Maintaine Design</div>
          <div class="text-flex3">Content Upload</div>
          <div class="text-flex4">Design With XD</div>
          <div class="text-flex5">8 Plugins/Extensions</div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <script>
      // javascript for open tap function
      function openTab(event, tabName) {
        // Get all elements with class="tabcontent" and hide them
        var tabcontents = document.getElementsByClassName("tabcontentprice");
        for (var i = 0; i < tabcontents.length; i++) {
          tabcontents[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        var tablinks = document.getElementsByClassName("tablinksprice");
        for (var i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
      }
    </script>



    <!-- contact section page -->
    <section class="contact" id="contact">
      <div class="mail-contact">contact <span>me</span></div>
      <div class="mail">
        <h1>mail me</h1>

        <form method="post">
          {% csrf_token %}
          <label for="name">full name:</label>
          <input id="name" name="name" />
          <label for="address">enter your email address:</label>
          <input id="address" type=" email" name="address" />

          <label for="subject">Subject:</label>
          <input id="subject" name="subject" />

          <label for="number">phone number:</label>
          <input id="number" name="number" />

          <label for="message">Message:</label><br>
          <textarea id="message" name="message"></textarea>

          <input type="submit">
        </form>
        <p>{{ result }}</p>
      </div>




      <!-- social media section -->
      <div class="social-text">CONTACT ME ON SOCIAL MEDIA PLATFORMS</div>
      <div class="contact-con">
        <div class="contact-image">
          <img src="{%static './images/contact.png'%}" alt="">
        </div>
        <div class="contact-phone">
          <p>DUMKA NKUE</p>
          <p>FULL STACK DESIGNER</p>
          <p>DATA ANALYST</p>
          <p>I am available for freelance work. Connect with me via call.</p>
          <p>Phone: +2348068625115</p>
          <p>Email: dumkaforgod21@gmail.com or nkuedumka@gmail.com</p>
        </div>
        <div class="social-media">
          <h2>FIND WITH ME</h2>
          <a href="https://www.facebook.com/nkue.dumka" target="_blank"><img src="{%static './images/facebook.png'%}"
              alt="facebook logo"></a>
          <a href="https://www.linkedin.com/in/dumka-nkue-ba93b3306?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"><img src="{%static './images/in.png'%}" alt="linkedin logo"></a>
          <a href="https://x.com/DumkaNkue12345?t=n1lDFX9CF7FDzr4ix-g8cQ&s=09" target="_blank"><img
              src="{%static './images/twiter.png'%}" alt="twiter logo"></a>
          <a href="https://www.instagram.com/nkuedumka?igsh=NHloMGd0NXFtNnE0" target="_blank"><img
              src="{%static './images/instagram.png'%}" alt="intagram logo"></a>
          <a href="https://wa.me/qr/5VYR5GVHDVW2N1" target="_blank"><img src="{%static './images/whatsapp.png'%}"
              alt="whatsapp logo"></a>

        </div>
      </div>
      <div class="footer-image">
        <img data-aos="fade-up" data-aos-duration="3000" src="{%static './images/Dumka1.jpg'%}" alt="">
      </div>
      <div class="copy-right">@ DUMKA NKUE 2025. All rights reserved by</div>
      </div>

      </div>

    </section>

    <script>
      // Sticky Navigation Menu
      let nav = document.querySelector("nav");
      let scrollBtn = document.querySelector(".scroll-button a");
      // Show/hide sticky navigation and scroll button based on scroll position
      window.onscroll = function () {
        if (document.documentElement.scrollTop > 20) {
          nav.classList.add("sticky");
          scrollBtn.style.display = "block";
        } else {
          nav.classList.remove("sticky");
          scrollBtn.style.display = "none";
        }
      };
      // Side Navigation Menu
      let body = document.querySelector("body");
      let navBar = document.querySelector(".navbar");
      let menuBtn = document.querySelector(".menu-btn");
      let cancelBtn = document.querySelector(".cancel-btn");
      // Open side navigation
      menuBtn.onclick = function () {
        navBar.classList.add("active");
        menuBtn.style.opacity = "0";
        menuBtn.style.pointerEvents = "none";
        body.style.overflow = "hidden";
        scrollBtn.style.pointerEvents = "none";
      };
      const hideNavMenu = () => {
        navBar.classList.remove("active");
        menuBtn.style.opacity = "1";
        menuBtn.style.pointerEvents = "auto";
        body.style.overflow = "auto";
        scrollBtn.style.pointerEvents = "auto";
      };
      // Close side navigation
      cancelBtn.onclick = hideNavMenu;
      // Close side navigation when a menu link is clicked
      let navLinks = document.querySelectorAll(".menu li a");
      navLinks.forEach((link) => {
        link.addEventListener("click", hideNavMenu);
      });
    </script>
    <script src="script.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();

    </script>
    
    </body>
    </html>